.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 30vh;
  color: black;
  .head {
    font-size: 24px;
    color: black;
  }
  .todos {
    flex: 1 1 auto;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin-bottom: 24px;
  }
  button {
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  button:hover {
    background-color: #2980b9;
  }
}

.TodoContent {
  &__container {
    display: flex;
    width: 100%;
    padding: 24px 12px;
  }
  &__content {
    flex: 1 1 auto; /* 남는 공간을 차지하게 */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__buttons {
    display: flex;
    gap: 6px;
    white-space: nowrap;

    button {
      padding: 6px 12px;
      background-color: #4caf50; /* 초록색 배경 */
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.2s ease;
    }

    button:hover {
      background-color: #45a049;
    }
  }
}
