@import '@/Styles/mainThemeColor';

.container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 480px;
}

.timeTable {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    color: black;

    .slot {
        position: relative;
        display : flex;
        flex-direction: column;
        flex-shrink: 0;
        background-color: white;
        width: 360px;

        .timeSlot {
            padding: 1rem 1rem;
            background-color: $primary-color3;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .workSlot {
            height: 480px;
        }
    }
}